.clearfix {
	clear:both;
}

.headsection {
	height: 80px;
}

.navbar{
	background-color: #3355aa;
	height:40px;
}

.nav.navbar-nav.topnavbar li a{
	color:white;
	font-family: "Georgia";
	font-style: italic;
	font-size: 15px;
}

.nav.navbar-nav.topnavbar li a:hover{
	color:#222222;
}

.navbar-form {
	float: right;
}

.navbar-form button{
	background-color: #3b62c4;
	border: none;
}

.navbar-form input::placeholder{
	color:#3355aa;
	font-size: 15px;
	font-style: italic;
}

.navbar-form i {
	color:white;
}

body {
	font-family: "Georgia";
	color: #222222;
}

.imageBox{
	border:2px solid #f2f2f2; 
}

.imageBox img{
	padding:10px;
	width:100%;
}

figcaption{
	padding: 10px;
	text-align: center;
	font-size: 14px;
	font-style: italic;
}

.subSection h4{
	color: #3355aa;
	font-weight: bold;
}

.subSection hr.yellow {
	border-color: #ffb31a;
	border-width: 3px;
}

.subSection p{
	font-size: 13px;
}

.subSection p.info {
	font-size: 10px;
}

.subSection p a{
	color: #3355aa;
	font-style: italic;
}

.section1, .section2{
	margin-top: 25px;
	margin-bottom: 35px;
}

.section3{
	background-color: #f2f2f2;
}

h3 {
	padding-top: 25px;
	margin-bottom: 25px;
	text-align: center;
	font-size: 28px;
	font-weight: bold;
	color: #4d4d4d;
}

.subDivision {
	background-color: white;
	border:2px solid #f2f2f2;
}

.subDivision h4{
	padding: 10px;
	text-align: center;
	color: #3355aa;
}

.miniBox {
	margin:5px;
	height: 250px;
	background-color: #e0e0d2;
}

footer {
	margin-top: 75px;
	background-color: #333333;
}

.footerLeft li a{
	padding-top: 15px;
	color: #d9d9d9;
	font-size: 14px;
}

.footerRight li a{
	padding-top: 15px;
	color: #d9d9d9;
	font-size: 11px;
}


.footerRight {
	float: right;
}

.fSection1{
	margin-bottom: 0;
}
.fSection2 p{
	color: #d9d9d9;
	font-size: 11px;
	padding-left: 15px;
}

.fSection2 hr {
	border-color: #3d3d3d;
}

.fSection2 {
	position: relative;
	top: -20px;
	margin-bottom: 35px;
}



